*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.divHeader{
    background-color:#095e1e ;
    text-align: center;
    color: white;
}

body{
    background:linear-gradient(to right, rgba(255, 0, 0, 0.103), rgb(3, 158, 24));
}